<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>winnerlights-ios-mobile-client.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65746388251AE6E10021A60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6574639E251AE6E20021A60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657463A9251AE6E20021A60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
